### Target Vendor/Product
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="MI-MINI"

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-4.4.x

############################################################
### Linux kernel configuration
############################################################

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y

### Enable FAT/FAT32 filesystem support
CONFIG_FIRMWARE_ENABLE_FAT=y

### Enable exFAT (FAT/FAT32 too) filesystem support
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Enable EXT2 filesystem support
CONFIG_FIRMWARE_ENABLE_EXT2=y

### Enable EXT3 filesystem support
CONFIG_FIRMWARE_ENABLE_EXT3=y

### Enable EXT4 (EXT3/2 too) filesystem support
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Enable XFS filesystem support
CONFIG_FIRMWARE_ENABLE_XFS=n

### Enable FUSE (filesystems in userspace) support
CONFIG_FIRMWARE_ENABLE_FUSE=n

### Enable swap files/partitions support
CONFIG_FIRMWARE_ENABLE_SWAP=n

### Include UVC camera modules
CONFIG_FIRMWARE_INCLUDE_UVC=n

### Include USB-HID modules
CONFIG_FIRMWARE_INCLUDE_HID=n

### Include USB-Serial modules
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### Include USB-Audio modules
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Include XFRM (IPsec) modules & iptables extension
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### Include network QoS scheduling modules
CONFIG_FIRMWARE_INCLUDE_QOS=n

### Include IMQ module for shapers
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### Include IFB module for shapers
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Include IPSet utility and kernel modules
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include NFSv3 server
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### Include NFSv3 client
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### Include CIFS (SMB) client
CONFIG_FIRMWARE_INCLUDE_CIFS=n

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y

### Include NTFS-3G FUSE driver
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y

### Include tcpdump utility
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include iperf3
CONFIG_FIRMWARE_INCLUDE_IPERF3=y
